body {
  font-family: sans-serif;
  margin: 0;
  padding: 10px;
  width: 200px;
}

.popup {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

button {
  padding: 8px;
  background-color: #2575fc;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
